Package: bash-ai
Version: 0.5.3
Architecture: all
Depends: bash, coreutils, findutils, ai
Enhances: bash
Priority: optional
Maintainer: Philipp Lengauer <p.lengauer@gmail.com>
Homepage: https://github.com/plengauer/bash-ai
Description: An AI-powered shell assistant capable of translating arbitrary descriptions into bash commands
